.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* */
.headshot{
  width:180px;
  margin:auto;
  border-radius:50%;
  border:2px solid #bbbbbb;
  margin-top:20px;
}



.profile{
  align-content:center;
  text-align:center;
  padding:5px;
  position:relative;
  margin-bottom:20px;
}

.ourFont{
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight:lighter;
      font-size:22px;
}

.innerLiner{
  /*border:1px solid silver;*/
  text-align:center;
  align-content:center;
  padding:10px 0px 0px 0px;
  position:relative;
  float:left;
  width:100%;
  /*background-color: rgba(51, 51, 51, 0.25);
  border-radius: 10px;*/
}

.aboutSection{
  margin-top:10px;
  position:relative;
   float:left;
    width:100%;
    margin-bottom:0px;
}

.selected{
  background-color:rgba(41, 136, 203, 0.53);
  border-radius:10px;
  border: 1px solid #a2a2a2;
}

li a{
  padding:8px !important;
}

.navbar-custom .nav li.active a{
  background-color: rgba(41, 136, 203, 0.53) !important;
  /*border-radius: 10px;
  border: 1px solid #a2a2a2;*/
}